/************ FONTS ************/
.tiny5-regular {
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
  }  
  

/****************************/
  
:root {
    --heightButton: 10vh;
    --widthButton: 30vw;
}

* {
    font-family: "Tiny5", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

button {
    position: absolute;
    top: calc(50% - var(--heightButton));
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: var(--widthButton);
    height: var(--heightButton); */
    font-size: 15vw;
    color: blue;
    background-color: transparent;
    border: none;
    transition: transform 0.25s, opacity 1s;
    z-index: 2;
}

button:hover {
    transform: scale(1.25) translate(-130px, -50px);
}

.computerScreen img {
    width: 80vw;
    max-height: 80vh;
    display: block;
    margin: auto;
    transition: opacity 1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.computerScreen.end {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.storm video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in;
    z-index: 0;
}

.hideButton {
    pointer-events: none;
    animation: zoomInButton 2s forwards;
}

@keyframes zoomInButton {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(50);
        opacity: 0;
    }
}

.transitionIn {
    animation: zoomInScreenStart 2s forwards;
}

@keyframes zoomInScreenStart {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5) translateY(-100px);
        opacity: 0;
    }
}

.transitionInEnd {
    animation: zoomInScreenEnd 2s forwards;
}

@keyframes zoomInScreenEnd {
    0% {
        transform: scale(0.05);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Looping logic */
.reset {
    opacity: 1 !important;
    display: block !important;
}

@media (max-width: 768px) {
    button {
        font-size: 15vw;
        width: 50vw;

        top: calc(50vh - (var(--heightButton) /2));
    }
    .computerScreen img {
        width: 95vw;
    }
}
